.site-container{
    width: 50%;
    height: 700px;
    border: solid;
    border-radius: 10px;

}
.resim-kaydet{
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    
}
.resim-kaydet button{
    text-align: center;
    height: 50px;
    width: 300px;
    border-radius: 1rem;
    background-color: orangered;
    border-radius: 10px;
}
.etikets{
    text-align: center;
    margin-top: 50px;
}
.resim-ekle img{
    margin-top: 15px;
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
    
    
}
.resim-açıklama{
    text-align: center;
}